@model AvaliacaoLP3Bi3.ViewModels.LojaViewModel;

@{
    ViewData["Title"] = "Loja Excluida";
}

<h1>O comércio selecionado foi excluido!</h1>

<a href="Admin">
    <button>Retornar à página de Administração</button>
</a>

<hr>