@{
    ViewData["Title"] = "Comércio com nome já existente";
}

<h1>Já existe um comércio com este nome, insira outro.</h1>

<br>

<a href="Cadastrar">
    <button >Cadastre um novo comércio</button>
</a>